html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-attachment: fixed;
}

h2 {
    padding: 0 0 20px 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 32px;
}

.seperator_1 {
    padding: 18px 0;
}

.company-details {
    background-color: #f8f8f8;
    border-radius: 0 0px 8px 8px;
    font-family: 'Lato', sans-serif;
    float: left;
    width: 100%;
}

.company-details .universal-header {
    float: right;
}

.company-details .universal-header ul {
    margin: 0 12px;
}

.company-details .universal-header ul li {
    display: inline-block;
    float: left;
}

.company-details .universal-header ul li a {
    margin: 9px 4px;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #373737;
}

.top-header {
    margin-top: 30px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    float: left;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #E8E8E8;
}

.top-header .search {
    float: right;
    position: relative;
    margin: 24px 0;
}

.top-header .search .input {
    width: 150px;
    padding: 4px 27px 4px 7px;
}

.top-header .search .submit {
    display: block;
    position: absolute;
    width: 24px;
    height: 30px;
    padding: 0;
    margin: -29px 0 0 176px;
    border: none;
    left: -51px;
    top: 30px;
    background-color: transparent;
}

.top-header .search .submit:hover:before {
    color: #00B7F3;
}

.top-header .search .submit:before {
    font-family: FontAwesome;
    content: "\f002";
    position: absolute;
    color: #59656b;
    top: 4px;
    left: 0;
    right: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.top-header .navi {
    display: inline;
    float: left;
}

.top-header .navi ul {
    margin: 0 40px;
    padding: 0;
    float: left;
}

.top-header .navi ul li.notifs {
    position: relative;
}

.top-header .navi ul li.notifs .notifs-hidden {
    position: absolute;
    display: none;
}

.top-header .navi ul li.notifs.notif-hidden.active {
    display: block;
}

.top-header .navi ul li {
    float: left;
    list-style-type: none;
}

.top-header .navi ul li a {
    float: left;
    display: inline-block;
    padding: 30px 12px;
    color: #373737;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
    min-width: 80px;
    text-align: center;
    font-size: 13px;
}

.top-header .navi ul li a.mens:hover {
    background-color: #FF5500;
    color: #efefef;
}

.top-header .navi ul li a.womens:hover {
    background-color: #FF2525;
    color: #efefef;
}

.top-header .navi ul li a.kids:hover {
    background-color: #7AB900;
    color: #efefef;
}

.top-header .navi ul li a.notifications {
    cursor: pointer;
}

.top-header .navi ul li a.notifications .number {
    padding: 3px 7px;
    background-color: #59656b;
    border-radius: 100%;
    color: white;
    margin-left: 8px;
    line-height: 0;
}

.top-header .navi ul li a.notifications:hover {
    background-color: #00B7F3;
    color: #efefef;
}

.top-header .navi ul li a.notifications:hover .number {
    background-color: #efefef;
    color: #00B7F3;
}

.top-header .top-header .navi ul li.notifs .notifs-hidden .active {
    display: block;
}

.top-header .logo {
    width: 160px;
    height: 20px;
    margin: 28px 0 28px 28px;
    display: inline;
    float: left;
}

.account {
    padding: 28px;
    float: right;
}

.account .acc-actions a {
    color: #373737;
    text-transform: capitalize;
    margin: 0 2px;
    font-size: 14px;
    font-weight: bold;
}

.slider {
    width: 100%;
}

.slider img {
    width: 100%;
}

.main-content {
    background-color: #F8F8F8;
    padding: 30px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    float: left;
}

.main-content .col-md-6, .main-content .col-md-3, .main-content .col-md-2, .main-content .col-md-10 {
    padding: 0;
}

.main-content-cat {
    background-color: #F8F8F8;
    padding: 0 30px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    float: left;
}

.main-content-cat .col-md-6, .main-content-cat .col-md-3, .main-content-cat .col-md-2, .main-content-cat .col-md-10 {
    padding: 0;
}

.women-action {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.women-action img {
    width: 100%;
}

.women-action:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
}

.men-action {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.men-action img {
    width: 100%;
}

.men-action:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
}

.featured-product {
    position: relative;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.featured-product p {
    margin: 15px 0 0 0;
    min-height: 50px;
}

.featured-product p a {
    font-weight: bold;
    color: #373737;
    text-decoration: none;
}

.featured-product p a .cart {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 20px;
    color: #00B7F3;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.featured-product p a .cart:hover {
    color: #74ddff;
}

.featured-product p a .price {
    font-weight: normal;
}

.featured-product .product-hidden {
    position: absolute;
    top: 35%;
    left: 35%;
    padding: 10px;
    background: #00B7F3;
    cursor: pointer;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.featured-product .product-hidden a {
    color: #fff;
    text-decoration: none;
}

.featured-product img {
    width: 100%;
    border: 5px solid transparent;
}

.featured-product:hover img {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.55);
}

.featured-product:hover .product-hidden {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
}

.quote-section {
    background-color: #333333;
    padding: 36px 0 24px 30px;
    color: #efefef;
    font-family: 'Lato', sans-serif;
    float: left;
    min-width: 100%;
    text-align: center;
}

.quote-section .misc-quote {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 24px;
    display: inline-block;
    margin: 0 20px;
}

.quote-section .misc-quote:before {
    font-family: FontAwesome;
    content: "\f098";
    margin-right: 12px;
}

.quote-section .main-quote {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 24px;
    display: inline-block;
}

.quote-section .main-quote:before {
    font-family: FontAwesome;
    content: "\f0d1";
    margin-right: 12px;
}

.funk-seperator {
    width: 100%;
    height: 1px;
}

.funk-sauce {
    height: 1px;
    width: 25%;
    display: block;
    float: left;
}

.funk-seperator span:nth-child(4) {
    height: 1px;
    width: 25%;
    display: block;
    float: left;
    background-color: #FF5500;
}

.funk-seperator span:nth-child(3) {
    height: 1px;
    width: 25%;
    display: block;
    float: left;
    background-color: #FF2525;
}

.funk-seperator span:nth-child(2) {
    height: 1px;
    width: 25%;
    display: block;
    float: left;
    background-color: #7AB900;
}

.funk-seperator span:nth-child(1) {
    height: 1px;
    width: 25%;
    display: block;
    float: left;
    background-color: #00B7F3;
}

.footer-x {
    background-color: #373737;
    width: 100%;
    font-family: 'Lato', sans-serif;
}


.cat-sidebar {
    padding-top: 30px;
}

.cat-sidebar .cat-back {
    text-decoration: none;
}

.cat-sidebar h2 {
    display: block;
    padding: 20px 0 20px 0;
    margin: 0 0 10px 0;
    text-align: center;
    color: #373737;
}

.cat-sidebar .sub-category-navigation ul {
    margin: 0;
    padding: 0;
}

.cat-sidebar .sub-category-navigation ul li {
    list-style-type: none;
    display: block;
    float: left;
}

.cat-sidebar .sub-category-navigation ul li a {
    color: #59656b;
    display: block;
    padding: 4px 0;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.cat-sidebar .sub-category-navigation ul li a:hover {
    color: #8b989f;
}


.category-container {
    padding: 30px;
    float: left;
}

.category-container .category-product-count {
    color: #848484;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
    margin-top: 45px;
    display: block;
}

.category-container .tools {
    display: inline-block;
    border: 1px solid #ccc;
    float: left;
    position: relative;
    margin: 0 7px;
    z-index: 9999;
    cursor: pointer;
}

.category-container .tools:first-child {
    margin: 0 7px 0 0;
}

.category-container .tools:hover .options {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    display: block;
}

.category-container .tools span.title-view {
    padding: 3px 0px 3px 8px;
}

.category-container .tools span.title-order {
    padding: 3px 0px 3px 0px;
}

.category-container .tools span.title {
    padding: 3px 8px 3px 8px;
}

.category-container .sort-by-dropdown {
    padding: 0px 6px;
    color: #373737;
}

.category-container .sort-by-dropdown.active {
    background-color: #d6d6d6;
}

.category-container .sort-by-dropdown:before {
    content: "\f107";
    font-family: FontAwesome;
}

.category-container .view-list {
    color: #373737;
    cursor: pointer;
    padding: 5px 6px;
}

.category-container .view-list.active {
    background-color: #d6d6d6;
}

.category-container .view-list:before {
    content: "\f00b";
    font-family: FontAwesome;
}

.category-container .asc-desc {
    color: #373737;
    cursor: pointer;
    padding: 5px 8px;
    text-decoration: none;
}

.category-container .asc-desc:before {
    content: "\f107";
    font-family: FontAwesome;
}

.category-container .view-grid {
    color: #373737;
    cursor: pointer;
    padding: 5px 6px;
    margin: 0 0px 0px 5px;
}

.category-container .view-grid.active {
    background-color: #d6d6d6;
}

.category-container .view-grid:before {
    content: "\f009";
    font-family: FontAwesome;
}

.category-container span {
    display: inline-block;
    padding: 0 0px 0px 8px;
}

.category-container select {
    display: inline-block;
    border: none;
    padding: 3px 0;
}

.category-container select option {
    width: 100%;
}

.category-container .options {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    display: none;
    position: absolute;
    background: #F8F8F8;
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.category-container .options ul {
    margin: 0;
    padding: 0;
}

.category-container .options ul li {
    list-style-type: none;
}

.category-container .options ul li a {
    padding: 3px 8px;
    display: block;
    color: #373737;
    text-decoration: none;
}

.category-container .options ul li a:hover {
    color: #909090;
}

.category-container .order {
    display: inline-block;
    padding: 3px 10px 3px 10px;
    border: 1px solid #ccc;
}

.category-container .order:before {
    content: "\f106";
    font-family: FontAwesome;
}

.page-header_t1 {
    padding: 0 0 30px 0;
}

.page-header_t1 img {
    width: 100%;
}


.cat-scroll .row {
    padding-bottom: 20px;
}
